<div class="box" id="<%= dom_id transaction %>">
  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Other:</strong>
    <%= transaction.other %>
  </p>

  <p>
    <strong>Reference:</strong>
    <%= transaction.reference %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= transaction.description %>
  </p>

</div>
