<div id="<%= dom_id account %>">
  <p>
    <strong>Name:</strong>
    <%= account.full_name %>
  </p>

  <p>
    <strong>Bank:</strong>
    <%= account.bank %>
  </p>

  <p>
    <strong>Uid:</strong>
    <%= account.uid %>
  </p>

  <p>
    <strong>Valid until:</strong>
    <%= account.valid_until %>
  </p>

</div>
