<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <% if account.full_name.blank? %>
          <p class="title is-4 has-text-grey">Unnamed account</p>
        <% else %>
          <p class="title is-4"><%= account.full_name %></p>
        <% end %>
        <p class="subtitle is-6"><%= account.bank %></p>
      </div>
      <div class="media-right">
        <%= form_with model: account, url: import_account_path(account), method: :post, html: { id: "csv_import_form" } do |f| %>
          <div class="file">
            <label class="file-label">
              <%= f.file_field(:csv, accept: 'text/csv', class: 'file-input') %>
              <script>
                window.addEventListener("load", function() {
                  document.getElementById("account_csv").addEventListener("change", function() {
                    document.getElementById("csv_import_form").submit();
                  });
                });
              </script>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="ri-upload-cloud-2-line"></i>
                </span>
                <span class="file-label">
                  Import CSV
                </span>
              </span>
            </label>
          </div>
        <% end %>
      </div>
    </div>

    <div class="content">
      <div class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Balance</p>
            <p class="title"><%= account.balance.format %></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Transactions</p>
            <p class="title"><%= account.transactions.count %></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Status</p>
            <% if account.active? %>
              <p class="title has-text-success">ONLINE</p>
            <% else %>
              <p class="title has-text-danger">OFFLINE</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to "Transactions", account_path(account), class: 'card-footer-item' %>
    <%= link_to "Edit", edit_account_path(account), class: 'card-footer-item' %>
    <%= button_to "Relink", link_session_path(account.session), form_class: "card-footer-item" %>
    <%= button_to "Sync", sync_account_path(account), form_class: "card-footer-item" %>
  </div>
</div>
