<%= form_with(model: account) do |form| %>
  <% if account.errors.any? %>
    <div class="notification is-danger">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :full_name, class: "label" %>
    <div class="control">
      <%= form.text_field :full_name, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :short_name, class: "label" %>
    <div class="control">
      <%= form.text_field :short_name, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :color, class: "label" %>
    <div class="control">
      <%= form.text_field :color, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.submit class: "button" %>
  </div>
<% end %>
